<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Login</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <input class="form-control mt-3 mb-3" type="text" placeholder="Enter Phone Number">
          <input class="form-control mb-3" type="password" placeholder="Enter Password">
          <button class="btn btn-outline-success me-2">Login</button>
          <button class="btn btn-outline-danger ms-2">Cancel</button>

        </div>
        <div class="modal-footer">
            <h6>New User ?</h6>
            <a href="register" style="text-decoration: none;">Create new Account</a>
        </div>
      </div>
    </div>
  </div>